*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #252525;
}
.content::before:hover {
  animation: ornek 1s;
}
.content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: start;
  position: relative;
  background-color: rgb(209, 209, 209);
}

.filmimg {
  display: inline-block;
  transition: all 1s;
}

.filmimg > img {
  object-fit: cover;
}

.filmheading {
  padding: 1rem;
  transition: all 1s;
  display: inline-block;
}
.filmbilgi {
  position: absolute;
  bottom: 5%;
  left: 25%;
  transition: all 1s;
}
.filmbilgi span {
  font-weight: 500;
}
.nextprev {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 1.6rem;
}
.nextprev a {
  text-decoration: none;
  color: #000;
  overflow: hidden;
}
.nextprev a svg {
  transition: all 0.5s;
}
.nextprev a svg:hover {
  fill: #a14949;
}
